.board {
  width: 45.5vw;
  height: 250px;
  margin-bottom: 20px;
  margin-top: 10px;
  margin-left: 3vw;
  border-radius: 15px;
  box-shadow: 8px 8px 4px rgba(162, 153, 137, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.2s;
}

.board:hover {
  transform: scale(1.05);
}

.board-content {
  font-size: 1.5rem;
  color: black;
  text-align: center;
}
