/* Event card container style */
.event-card {
    background-color: #fff;
    /* padding: 20px; */
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70%;
    box-sizing: border-box;
  }
  
  .event-card-date-container{
    width:18%;
    /* margin: 10px; */
    background: linear-gradient(to right, #d31c6e, #fab651);
    color: white;
    border-radius: 8px;
  }

  .event-card-content{
    width: 82%;
    /* padding-left: 15px; */
    padding: 12px 12px 12px 25px;
    /* margin: 10px; */
  }
  /* Event date style */
  .event-date {
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 12px;
  }
  .event-day{
    font-size: 40px;
    /* color: white; */
  }

  /* Event headline style */
  .event-headline {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  /* Event time style */
  .event-time {
    /* font-weight: bold; */
    /* color: #555; */
    background-color:#FFD8B5;
    padding: 9px 12px;
    font-size: 12px;
    border-radius: 15px;
  }
  
  /* Event description style */
  .event-description {
    margin-top: 10px;
  }
  