.footer {
  background-color: rgba(208, 102, 44, 1);
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2rem;
  color: white;
  font-family: 'Arial', sans-serif;
  flex-direction: row;
  text-align: center;
  width: 100vw;
}

.footer-section {
  flex: 1;
}

.footer h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.footer a {
  color: white;
  text-decoration: none;
  margin: 0.5rem 0;
  display: block;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffcc00;
}

.footer p {
  margin-top: 1rem;
  font-size: 1rem;
}

@media (max-width: 768px) {
  .footer-section:first-child {
    display: none;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }

  .footer-section {
    margin-bottom: 1rem;
  }

  .footer h3 {
    font-size: 1.2rem;
  }

  .footer p,
  .footer a {
    font-size: 0.9rem;
  }
}

@media (max-width: 480px) {
  .footer-section:first-child {
    display: none;
  }

  .footer h3 {
    font-size: 1rem;
  }

  .footer p,
  .footer a {
    font-size: 0.8rem;
  }

  .footer-section {
    margin-bottom: 0.5rem;
  }

  .footer {
    padding: 0.5rem;
  }
}
