.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  max-width: 50vw;
  max-height: 60vh;
  overflow-y: auto;
  position: relative;
  display: flex;
  flex-direction: row;
}

.close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  outline: none;
  color: black;
  outline: none;
}

.close-button:focus {
  outline: none;
}

.secretary-image {
  width: 20vw;
  height: auto;
  border-radius: 10px;
}

.write-up {
  margin-left: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.write-up h2 {
  margin-top: 1rem;
  font-size: 2rem;
  color: black;
}

.write-up h3 {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #555353;
}

.write-up p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: black;
  text-align: center;
  font-family: 'Monotype Corsiva', cursive;
  font-weight: 400;
  font-style: italic;
}

#position {
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .modal-content {
    max-width: 80vw;
    max-height: 70vh;
  }

  .secretary-image {
    width: 40vw;
  }
}

@media (max-width: 768px) {
  .modal-content {
    width: 80vw;
    height: auto;
    flex-direction: column;
    padding: 1rem;
  }

  .secretary-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .write-up h2 {
    font-size: 1.5rem;
  }

  .write-up h3 {
    font-size: 0.9rem;
  }

  .write-up p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .modal-content {
    width: 90vw;
    height: auto;
    padding: 0.5rem;
  }

  .secretary-image {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .write-up h2 {
    font-size: 1.2rem;
  }

  .write-up h3 {
    font-size: 0.8rem;
  }

  .write-up p {
    font-size: 0.9rem;
  }
}
